<nav class="navbar navbar-toggleable-md ib-header">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">
    <img src="/assets/images/sif.jpg" alt="Sif">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
      </li>
    </ul>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="input-group header-input">
        <input type="text" class="form-control" placeholder="Enter your email">
        <span class="input-group-btn">
          <button class="btn c-btn-primary" type="button">Get Started</button>
        </span>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <auth-links></auth-links>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer class="justify-content-md-center">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12text-center">
    <div class="ib-details-text text-center">
      &copy; 2017 - All rights reserved with MolBazaar
    </div>
  </div>
</footer>